.educationContainer {
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;

}

.educationContainer h2 {
  font-size: 2rem;
}
  
  .educationCard {
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .educationCard h3 {
    margin-bottom: 10px;
    color: var(--color-yellow);
  }
  
  .educationCard p {
    margin: 5px 0;
  }
  
  .educationCard strong {
    color: var(--color-yellow);
  }


  @media screen and (max-width: 768px) {
    .educationContainer {
      padding: 20px;
      width: 100%;
    }
    
  }