.aboutSection {
    padding: 20px;
    background-color: var(--color-light);
    color: var(--color-dark);
  }
  
  .aboutContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .bio {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: justify;
  }
  
 

  
  .aboutSection {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .aboutContainer {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .bio {
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 10px;
  }
  
 
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;    
  }

  .card {
    transition: 0.5s;
  }

  .card:hover {
    transform: scale(1.1);
  }
  
   
  /* Responsive Design */
  @media (min-width: 768px) {
    .skillsList,
    .certList {
      grid-template-columns: 1fr 1fr;
    }
  
    .title{
      text-align: left;
    }

    .cardsContainer {
      margin: 30px;
    }
   
  }
  
  @media (min-width: 1024px) {
    
  
    .bio {
      font-size: 1.4rem;
    }
  }