.curriculum {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */

}

@media screen and (max-width: 768px) {
    .curriculum {
        padding: 0;
        padding-top: 20px;
    }
    
}