.logo a {
  color: var(--color-yellow);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.5s;  
  padding-left: 50px;
}

.logo a:hover {
  color: var(--color-pink);
}

@media (max-width: 768px) {

  .logo a {
    padding-left: 10px;
    font-size: 1.5rem;
  }
  
}