.skills {
  padding: 20px 20px;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.skillsContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.subtitle {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

.skillsList,
.certList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.skillsList li,
.certList li {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  transition: 0.5s;
  cursor: default;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.skillsList li:hover,
.certList li:hover {
  box-shadow: 0 0 10px 5px var(--color-pink);
}

/* Responsive */
@media (min-width: 768px) {
  .skillsList,
  .certList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .skillsList {
    grid-template-columns: repeat(3, 1fr);
  }

  .certList {
    grid-template-columns: 1fr 1fr;
  }
}