.experienceSection {
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
  }

h2 {
    font-size: 2rem;
    /* centrar  en la pantalla*/
}
  
  .experienceCard {
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .experienceCard h3 {
    margin-bottom: 10px;
    color: var(--color-yellow);
  }
  
  .experienceCard p {
    margin: 5px 0;
  }
  
  .experienceCard strong {
    color: var(--color-yellow);
  }
  
  @media screen and (max-width: 768px) {
    .experienceSection {
      padding: 20px;
      width: 100%;
    }
    
  }
