.blogEntry {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 20px;
}

.blogEntry h1 {
  font-size: 32px; /* Tamaño del título principal */
  margin-bottom: 15px; /* Espaciado inferior */
  font-weight: 700;
}

.blogEntry img {
  max-width: 60%; /* Asegura que la imagen no exceda el ancho del contenedor */
  border-radius: 15px; /* Bordes redondeados para la imagen */
  margin-bottom: 15px; /* Espaciado inferior */
}

.blogEntry p {
  font-size: 16px; /* Tamaño de texto del párrafo */
  margin-bottom: 10px; /* Espaciado inferior */
  font-weight: 300; /* Peso de la fuente */
  line-height: 25px; /* Altura de línea */
  color: var(--color-light); /* Color del texto */
}

.backLink {
  display: inline-block; /* Hacer que el enlace sea un bloque en línea */
  margin-bottom: 20px; /* Espaciado inferior */
  color: var(--color-light); /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  font-weight: 500; /* Peso de la fuente */
}

.backLink:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

@media (max-width: 520px) {
  .blogEntry h1 {
      font-size: 28px; /* Tamaño del título principal en pantallas pequeñas */
  }

  .blogEntry p {
      font-size: 14px; /* Tamaño de texto del párrafo en pantallas pequeñas */
  }

  .backLink {
      font-size: 14px; /* Tamaño del enlace de regreso en pantallas pequeñas */
  }
}
