.notfound {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.notfound h2 {
    font-size: 3rem;
    color: var(--color-pink);
    margin-top: 100px;
}

@media (min-width: 768px) {
    .notfound h2 {
        margin-top: 110px;
        font-size: 5rem;
    }
  }